SECRET_DATA.py
**/__pycache__/
VALORANT/Data_Base/Riot-Matches.csv
VALORANT/Data_Base/Riot-Users.csv
MATCHEXAMPLE.json
VALORANT/Location_Heatmap/OUTPUT
VALORANT/VOD_Scanner/TAB_Reader/INPUT
VALORANT/VOD_Scanner/TAB_Reader/OUTPUT